.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 800px;
  /* height: 500px; */
  background-color: #f2f1eb;
  box-shadow: 3px 5px #888888;
  padding: 50px 50px 50px 50px;
  /* text-align: center; */
  margin: 50px auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.submit-btn {
    width: 30%;
    background-color: blue;
    color: #fff;
    padding: 10px;  
    border-radius: 4px;
    margin: 0 auto;
}

.radio-option {
    text-align: left;
}
